@using BeestjeOpJeFeestje.Web.ViewModels.Booking
@model BookingDateFormViewModel

@{
    ViewData["Title"] = "Beestje Boeken";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Beestje boeken</h1>
    
    <form asp-action="Index" method="post">
        <div class="row gy-3">
            <div class="col-md-2">
                <label asp-for="BookingDate" class="form-label">Datum*</label>
                <input asp-for="BookingDate" type="date" class="form-control"/>
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-4 d-flex gap-2">
            <button type="submit" class="btn btn-primary">Volgende</button>
        </div>
    </form>
</div>