@using BeestjeOpJeFeestje.Web.ViewModels.Booking
@model BookingDateFormViewModel

@{
    ViewData["Title"] = "Beestje Boeken";
}

<h2>Selecteer een datum</h2>
<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="BookingDate">Kies een datum:</label>
        <input type="date" asp-for="BookingDate" class="form-control" />
        <span asp-validation-for="BookingDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Volgende</button>
</form>