@using BeestjeOpJeFeestje.Web.ViewModels.Booking
@model BookingDateFormViewModel

@{
    ViewData["Title"] = "Boekingsdatum Kiezen";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Beestje boeken</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
    }
    
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <span class="fw-bold">Stap 1 - Kies de boekingsdatum</span>
                </div>
            
                <div class="card-body">
                    <form asp-action="Index" method="post">
                        <div class="col-md-2 mb-3">
                            <div class="card-body">
                                <label asp-for="BookingDate" class="form-label">Datum*</label>
                                <input asp-for="BookingDate" type="date" class="form-control"/>
                                <span asp-validation-for="BookingDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mt-4 d-flex gap-2">
                            <button type="submit" class="btn btn-primary">Volgende</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>