@using BeestjeOpJeFeestje.Web.ViewModels.Booking
@model BookingDateFormViewModel

@{
    ViewData["Title"] = "Boekingsdatum Kiezen";
}

<div class="container mt-4">
    <div class="progress mb-4" role="progressbar" aria-label="Example with label" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 0"></div>
    </div>

    @if (TempData["BookingSuccessMessage"] != null)
    {
        <div class="alert alert-success text-center">
            <span>@TempData["BookingSuccessMessage"]</span>
        </div>
    }
    @if (TempData["AccountSuccessMessage"] != null)
    {
        <div class="alert alert-warning text-center">
            <span>@TempData["AccountSuccessMessage"]</span>
        </div>
    }

    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <span class="fw-bold">Stap 1 - Kies de boekingsdatum</span>
                </div>

                <div class="card-body">
                    <div class="col-md-12">
                        <form asp-action="Step1" method="post">
                            <div class="mb-3">
                                <label asp-for="BookingDate" class="form-label">Datum*</label>
                                <input asp-for="BookingDate" type="date" class="form-control"/>
                                <span asp-validation-for="BookingDate" class="text-danger"></span>
                            </div>

                            <div class="mt-4 d-flex">
                                <button type="submit" class="btn btn-primary">Volgende</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <span class="fw-bold">Boekingsregels</span>
                </div>
                
                <div class="card-body">
                    <ul class="ps-3">
                        <li>Boekingsdatum kan niet eerder zijn dan vandaag</li>
                        <li>Voor bepaalde beestjes gelden speciale maatregelen om ze te kunnen boeken</li>
                        <li>Boekingen kunnen alleen in Nederland plaatsvinden</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>